*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Phenomen';
    src: url('./WEB/Phenomena-Light.woff') format('woff');
}

body{
    font-family: 'Phenomen';
}
:root{
    --color-primary: #030d33;
    --color-secundary: #e5e5e5;
    --color-terciaryo: #3bff83;
    --color-cuaternaryo: #5f00e5;
    --font-size-text: 20px;
    --font-size-title: 32px;
    --font-size-big: 39px;
}

/* === scroll === */
body::-webkit-scrollbar {
    width: 12px;           
  }
  
  body::-webkit-scrollbar-track {
    background: var(--color-primary);      
  }
  
  body::-webkit-scrollbar-thumb {   
    border-radius: 20px;     
    border: 1px solid var(--color-secundary); 
  }

.logo{
    width: 100px;
    margin: 20px;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-secundary);
}


.links{
    text-decoration: none;
    color:var(--color-primary);
    font-size: var(--font-size-text);
    padding: 5px 15px;

}

.links:hover{
    transition: 2s;
    background-color: var(--color-terciaryo);
}

li{
    list-style: none;
    padding:10px;
    margin-left: 40px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-menu{
    display: none;
    cursor: pointer;
}

@media (max-width: 500px) {
    .btn-menu{
        display: flex;
    }
    .link-list{
        display: none;
    }
    .nav{
        justify-content: space-between;
    }
}

/* === video clip === */
.videoClip{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.container-video-clip{
    /* width: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-video-clip h2{
    font-size: var(--font-size-title);
    margin-left: 40px;
}

/* ======= Integrantes ======= */

.sec-integrantes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-secundary)
}


.sec-integrantes h2{
    font-size: var(--font-size-big);
    margin: 20px;

}

.items-integrantes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 90%;
}

.inter{
    padding: 10px 40px;
    font-size: var(--font-size-text);
    cursor: pointer;
    transition-duration: 0.7s;
    border-radius: 10px;
    background: #3bff83e5;
    color: var(--color-primary);
    text-align: center;
}
.container-inter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.container-inter img{
    cursor: pointer;
    width: 90%;
    filter: brightness(0.7);
}

.container-inter img:hover{
    filter: grayscale(0);
    scale: 1.05;
    filter: drop-shadow(3px 5px 10px #3bff8367);
}

.inter:hover{
    background-color: var(--color-terciaryo);
    color: var(--color-primary);
    animation-name:animate-text;
    animation-duration: 0.8s;
    
}

.container-title-inter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:80px;
    margin-bottom: 30px;

}

.content-title{
    width: 65%;
    text-align: right;
}

.content-title h2{
    font-size: var(--font-size-big);
}

/* ===== Resumen ===== */

.sec-resumen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding: 10px 0;
    height: 500px;
    color: var(--color-secundary);
}
.container-sec-resumen h2{
    font-size: var(--font-size-title);
    margin: 20px;
}

.container-sec-resumen{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: var(--font-size-text);

}

.important-text{
    color: var(--color-primary);
    background-color: #3bff83;
    padding: 3px;
}



.resumen-text{
    width: 50%;
}

@media (max-width: 700px) {
    .container-sec-resumen{
        width: 90%;
    }
    .container-inter{
        width: 40%;
        margin: 10px;
    }
    .container-video-clip{
        width: 90%;
        flex-wrap: wrap-reverse;
    }
    .container-video-clip h2{
        margin: 50px 0;
    }
    .container-video-clip iframe{
        width: 290px;
        height: 157px;
    }
}




/* ===== Document ===== */


.sec-document{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
   
}

.container-sec-document{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 600px;
}
.content-text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.content-text h2{
    text-align: center;
    margin: 20px;
    font-size: var(--font-size-title);
}

.content-text p{
    font-size: var(--font-size-text);
    margin-bottom: 20px;
}
.document{
    width: 90%;
    height: 70%;
}


/* === Obejtivo General === */

 .sec-objetivoG{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.content-se-objetivoG{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


.content-se-objetivoG p{
    width: 50%;
    font-size: var(--font-size-text);
}

.content-se-objetivoG h2{
    font-size: var(--font-size-title);
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}





/* ===== Objetivos Espesificos ==== */


.container-sec-objetivosE h2{
    font-size: var(--font-size-title);
}
.container-sec-objetivosE{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}


.container-title{
    width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
}

.content-sec-objetivosE{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-objetivos{
    width: 75%;
}

.first-column{
    width: 70%;
}

th{
    font-size: var(--font-size-title);
    background-color: #3bff83;
    margin: 10px;
}

td {
    margin: 15px;
    padding: 15px;
    border: 0;
}

.center{
    text-align: center;
    background-color: #f2f2f2;
}

.inProgress{
    text-align: center;
    background-color: rgba(0, 128, 0, 0.281);
}

.notStarted{
    text-align: center;
    background-color: #030d3348;
}

/* ===== menu movil ===== */


.menu_movil{
    background-color: var(--color-terciaryo);
    display: none;
}
.menu_movil a{
    color: var(--color-primary);
    text-decoration: none;
}

.menu_movil ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu_movil li{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_movil li:hover{
    background-color: #02491c50;
}

/* === loader === */

.load{
    background-color:#fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation-name: popIn;
    animation-duration: 3s; */
}


.load img{
    width: 20%;
}

@keyframes popIn {
    from {
        clip-path: circle(134.6% at 5% 95%);
   }
    to {
        clip-path: circle(0.2% at 0 100%);
        display: none;
    }
 }

@keyframes animate-text {
    0%{
        scale: 1.05;
    }
    50%{border-radius: 0px}
    100%{border-radius: 10px;}
}



/* ===== Footer ===== */


footer{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    flex-wrap: wrap;
    text-align: center;
}

.contact{
    margin: 30px;
}

.logo-footer{
    width: 150px;
}


/* ==== Diagrama de Gantt ==== */

.diagramaGantt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.content-diagram{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-diagram h2{
    font-size: var(--font-size-title);
}

.content-diagram img{
    width: 90%;
    margin-top: 30px;
}




















@media (max-width:470px) {
    .resumen-text{
        width: 80%;
    }    
    .content-se-objetivoG{
        width: 85%;
    }
    .content-se-objetivoG p{
        width: 90%;
    }
    .logo{
        width: 70px;
        margin: 10px;
    }

    .table-objetivos{
        width: 90%;
    }
    th{
        font-size: var(--font-size-text);
    }
    td{
        font-size: 10px;
    }

    .container-inter{
        width: 40%;
        margin: 10px;
    }
    
    .inter{
        padding: 6px 10px;
        font-size: 13px;
    }

    .items-integrantes{
        width: 95%;
    }
    
    :root{
        --font-size-text: 18px;
        --font-size-title: 29px;
        --font-size-big: 37px;
    }
    .load img{
        width: 40%;
    }
    .container-video-clip{
        width: 95%;
        flex-wrap: wrap-reverse;
    }
    .container-video-clip h2{
        margin: 50px 0;
    }
    .container-video-clip iframe{
        /* width: 90%; */
        height: 80%;
    }
    .container-video-clip h2{
        width: 90%;
    }
    .content-diagram img{
        width: 100%;
    }
    .content-diagram{
        width: 100%;
    }

}

